main, footer {
  font-family: 'Raleway', serif;
  text-align: center;
  max-width: 1900px;
  margin: 0 auto;
  flex-direction: column;
  background: cornflowerblue;
}

.header {
  text-align: center;
  background: moccasin;
  font-size: 2em;
  text-shadow: 4px 4px 4px grey;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

article, img {
  float: left;
  width: 100%;
  height: inherit;;
}


footer {
  background: lightgreen;
}


@media screen and (min-width: 800px) {
  article {
    justify-self: stretch;
  }


/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
      main {
          flex-direction: column;
      }

      article, nav, header {
      /* Return them to document order */
          order: 0;
      }

      nav, header, footer {
          min-height: 50px;
          max-height: 50px;
      }
    }
